*{
    padding: 0px;
    margin: 0px;
}
.outer{
    width: 700px;
    height: 1040px;
    margin: 0px auto;
    border-style: groove;
    border-radius: 5px;
    border-collapse: separate;
    padding: 10px;
    
}
.outer h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p{
    font-size: 20px;
}
.border{
    width: 100%;
    height: 18px;
    background-color: rgb(111, 175, 175);
    border: 1px solid black;
    font-weight: bold;
}
ul{
    font-size: 17px;
    margin-left: 20px;
}